#include "WMEStrings.h"

STRINGTABLE
BEGIN
IDS_COPYRIGHT,
        "© Константин Дураев (Уральская Сталь, ЦВТС)|@P3tr0viCh@mail.ru"
IDS_COPYRIGHT_STATUS,
        "© Константин Дураев"

IDS_QUESTION_CLOSE_PROGRAM,
        "Закрыть программу?"
IDS_QUESTION_SETTINGS_CHANGED,
        "Настройки были изменены.\n\nСохранить?"
IDS_QUESTION_DB_DROP,
        "Внимание.\n\nБаза данных будет полностью удалена.\nДанное действие необратимо.\n\nПродолжить?"
IDS_QUESTION_DB_CREATE,
        "Внимание.\n\nПеред созданием новой текущая база данных, если она существует, будет полностью удалена.\nДанное действие необратимо.\n\nПродолжить?"
IDS_QUESTION_TRAIN_CHANGED,
        "В список вагонов были внесены изменения.\n\nСохранить?"

IDS_ERROR_UNKNOWN,
        "Неизвестная ошибка"
IDS_ERROR_SETTINGS_SAVE,
        "Не удалось сохранить настройки.\n\nПроверьте разрешение на запись для каталога \"%s\" в папке программы."
IDS_ERROR_NEED_USERNAME,
        "Необходимо указать ФИО пользователя"
IDS_ERROR_SELECT_USERNAME,
        "Выберите пользователя"
IDS_ERROR_PASS_WRONG,
        "Неправильный пароль.\n\nПопробуйте ещё раз"
IDS_ERROR_USERS_LAST_ADMIN,
        "В списке пользователей должен присутствовать как минимум один Администратор"
IDS_ERROR_MYSQL_CONNECTION,
        "Не удалось подключиться к базе данных"
IDS_ERROR_MYSQL_DB_DROP,
        "Во время удаления базы данных произошла ошибка"
IDS_ERROR_MYSQL_DB_CREATE,
        "Во время создания базы данных произошла ошибка"

IDS_MSG_MYSQL_CONNECTION_OK,
        "Соединение с базой данных выполнено"
IDS_MSG_MYSQL_DB_DROP_OK,
        "База данных удалена"
IDS_MSG_MYSQL_DB_CREATE_OK,
        "База данных создана"

IDS_TXT_ADMIN_DEFAULT_NAME,
        "Администратор"

IDS_MYSQL_CONNECTION,
        "DRIVER={MySQL ODBC 3.51 Driver};SERVER=%s;PORT=%s;DATABASE=%s;USER=%s;PASSWORD=%s;OPTION=3;"
IDS_MYSQL_VERSION,
        "SELECT @@version;"
IDS_MYSQL_DATABASE_DROP,
        "DROP DATABASE IF EXISTS wme;"
IDS_MYSQL_DATABASE_CREATE,
        "CREATE DATABASE wme;"
IDS_MYSQL_TBL_TRAINS_CREATE,
        "MYSQL_TBL_TRAINS"
IDS_MYSQL_TBL_VANS_CREATE,
        "MYSQL_TBL_VANS"

IDS_LOG_START_PROGRAM,
        ">>>>>>> START PROGRAM WME %s"
IDS_LOG_STOP_PROGRAM,
        "<<<<<<< STOP PROGRAM"
IDS_LOG_OPTIONS_SAVE,
        "options: save"
IDS_LOG_OPTIONS_CANCEL,
        "options: cancel"
IDS_LOG_LOGIN_OK,
        "login: ok"
IDS_LOG_LOGIN_CANCEL,
        "login: cancel"
IDS_LOG_CREATE_DIR_FAIL,
        "create dir fail: %s"
IDS_LOG_WRITE_FILE_FAIL,
        "write file fail: %s; e = %s"
IDS_LOG_READ_FILE_FAIL,
        "read file fail: %s; e = %s"
IDS_LOG_MYSQL_CONNECT,
        "try database connect: %s@%s:%s"
IDS_LOG_MYSQL_CONNECT_OK,
        "database connected, version: %s"
IDS_LOG_MYSQL_CONNECT_FAIL,
        "database connect fail: %s"
IDS_LOG_MYSQL_DB_DROP_OK,
        "database drop ok"
IDS_LOG_MYSQL_DB_DROP_FAIL,
        "database drop fail: %s"
IDS_LOG_MYSQL_DB_CREATE_OK,
        "database create ok"
IDS_LOG_MYSQL_DB_CREATE_FAIL,
        "database create fail: %s"
IDS_LOG_MYSQL_SAVE_TRAIN_OK,
        "database save train, vancount: %d"
IDS_LOG_MYSQL_SAVE_TRAIN_FAIL,
        "database save train fail: %s"

END
