#include "WMEStringsSettings.h"

STRINGTABLE
BEGIN
IDS_SETTINGS_CRC_SECTION,               "WME"
IDS_SETTINGS_CRC_IDENT,                 "CRC"
IDS_SETTINGS_CONFIG_USERS,              "Users"
IDS_SETTINGS_CONFIG_SETTINGS,           "Settings"
IDS_SETTINGS_CONFIG_DATABASES,          "Databases"
IDS_SETTINGS_CONFIG_VANTYPES,           "VanTypes"
IDS_SETTINGS_CONFIG_CARGOTYPES,         "CargoTypes"
IDS_SETTINGS_CONFIG_DEPART_STATIONS,    "DepartStations"
IDS_SETTINGS_CONFIG_PURPOSE_STATIONS,   "PurposeStations"
IDS_SETTINGS_CONFIG_INVOICE_SUPPLIERS,  "InvoiceRecipients"
IDS_SETTINGS_CONFIG_INVOICE_RECIPIENTS, "InvoiceSuppliers"
END
